@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(66, 164, 225, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-header.is-open .u-header-background {
  left: 0;
}
.u-header-button-wrapper {
  margin-left: auto;
}
.u-header-icon {
  display: none;
}

.u-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-navigation-list.is-open {
  right: 0;
}
.u-header-icon-menu {
  display: block;
}

.u-header-icon-button.is-open .u-header-icon-menu {
  display: none;
}

.u-header-icon-button.is-open .u-header-icon-close {
  display: block;
}

.u-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.u-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 215, 0, 1);
}
.u-header.is-open .u-header-background {
  left: 0;
}
.u-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 215, 0, 1);
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 15px;
}

.u-header-icon-menu {
  display: block;
}

.u-header-icon-button.is-open .u-header-icon-menu {
  display: none;
}

.u-header-icon-button.is-open .u-header-icon-close {
  display: block;
}

.u-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.u-navigation-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 357px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px 0 100px;
  border-radius: 0px 0px 30px 30px;
  gap: 28px;
  background: rgba(255, 215, 0, 1);
}

.u-navigation-list.is-open {
  right: 0;
}

.u-navigation-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  vertical-align: middle;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
}

.u-navigation-link:hover,
.u-navigatioт-link:focus {
  color: rgba(255, 255, 255, 1);
}

.u-header.is-open {
  background-color: transparent;
}

.u-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .u-navigation-img {
    display: flex;
    margin-right: 220px;
  }
  .u-policy-terms-header-icon-menu {
    display: none;
  }

  .u-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(255, 215, 0, 1);
  }

  .u-header-background {
  }
  .u-header-icon-button {
    display: none;
  }
  .u-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .u-navigation-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    padding: 0px 30px;
    text-decoration: none;
  }

  .u-navigation-item-desk {
    display: none;
  }
}
.u-home {
  width: 375px;
  height: 800px;
  padding: 225px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.u-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-home-title {
  width: 335px;
  height: 195px;
}

.u-home-text {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 36px 0 24px;
}

.u-home-google-button-image {
  width: 157px;
  height: 47px;
}

.u-home-google-button-link:hover .u-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .u-home {
    width: 1440px;
    height: 900px;
    padding: 196px 391px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .u-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .u-home-title {
    width: 478px;
    height: 279px;
  }

  .u-home-text {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 48px 0 32px;
  }
  .u-home-google-button-image {
    width: 262px;
    height: 78px;
  }
}
.u-about {
  padding: 32px 20px;
  margin: auto;
  width: 375px;
}

.u-about-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.u-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.u-about-div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.u-about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 32px 0 16px;
}
.u-about-img {
  width: 335px;
  height: 282.1054992675781px;
}
@media screen and (min-width: 1200px) {
  .u-about {
    padding: 90px 72px;
    width: 1440px;
  }

  .u-about-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .u-about-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-top: 48px;
  }
  .u-about-div div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .u-about-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: left;
    padding: 0px 0 24px;
  }
  .u-about-img {
    width: 608.7501831054688px;
    height: 512.6321411132812px;
  }
}
.u-how {
  width: 375px;

  margin: auto;
  padding: 32px 20px;
}

.u-how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.u-how-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 5px 13px;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 7px;
}

.u-how-img {
  width: 60px;
  height: 60px;
}

.u-how-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .u-how {
    width: 1440px;

    padding: 90px 72px;
  }
  .u-how-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .u-how-item {
    display: flex;
    align-items: center;
    width: 636px;
    height: 116px;
    border-radius: 7px;
    gap: 16px;
    padding: 8px 12px;
    border-width: 4px;
  }

  .u-how-img {
    width: 92px;
    height: 92px;
  }

  .u-how-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.u-gallery {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}

.u-gallery-list {
  padding: 32px 0;
}

.u-gallery-item {
  width: 191px;
  height: 353px;
  border-radius: 10px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.u-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.u-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.u-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.u-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .u-gallery {
    width: 1440px;
    padding: 90px 72px;
  }

  .u-gallery-item {
    width: 283px;
    height: 521px;
    border-radius: 10px;
  }

  .u-gallery-list {
    padding: 48px 0;
  }
}

.u-features {
  width: 375px;
  margin: auto;
  height: 826px;
  padding: 32px 20px 0px;
  background-image: url("/img/Game\ Features.png");
  position: relative;
  z-index: 2;
}

.u-features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/Game\ Features\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.u-features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.u-features-item {
  width: 335px;
  height: 86px;
  border-radius: 7px;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 16px;
  padding-left: 25px;
  background: rgba(255, 215, 0, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(30, 30, 30, 1);
}

@media screen and (min-width: 1200px) {
  .u-features {
    width: 1440px;
    padding: 90px 72px;
    height: 544px;
    background-image: url("/img/Game\ Features\ \(2\).png");
  }
  .u-features::before {
    background-image: url("/img/Game\ Features\ \(3\).png");
  }

  .u-features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
  }

  .u-features-item {
    width: 400px;
    height: 86px;
    border-radius: 7px;
    padding-top: 16px;
    padding-right: 25px;
    padding-bottom: 16px;
    padding-left: 25px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
}

.u-policy-terms-container {
  padding: 96px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(30, 30, 30, 1);
}

.u-policy-terms-title {
  text-transform: uppercase;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}

.u-policy-terms-text {
  padding-top: 20px;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

.u-policy-terms-texts {
  padding-top: 8px;
}

.u-policy-terms-text-one {
  padding-top: 20px;
}

.u-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.u-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.u-email-link {
  color: inherit;
  text-decoration: none;
}

.u-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .u-policy-terms-container {
    padding: 166px 72px 40px;
    width: 1440px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-policy-terms-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-policy-terms-text {
    padding-top: 40px;
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-policy-terms-text-one {
    padding-top: 30px;
  }

  .u-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.u-footer {
  width: 375px;
  margin: auto;
  color: rgba(30, 30, 30, 1);
  padding: 32px 0;
  background: rgba(255, 215, 0, 1);
}

.u-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.u-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.u-footer-text {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: rgba(30, 30, 30, 1);
}

.u-footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .u-footer {
    width: 1440px;
    padding: 56px 80px;
  }

  .u-footer-container {
    display: flex;

    justify-content: stretch;
    align-items: stretch;
    gap: 30px;
  }

  .u-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 36px;
  }

  .u-footer-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .u-footer-copyright {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px;
  background: rgba(136, 209, 255, 1);

  z-index: 1000;
  display: none;
}

.u-cookie-popup-text-two {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(30, 30, 30, 1);
}

.u-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.u-cookie-button {
  border: none;
  background-color: transparent;
  width: 156px;
  padding: 11px 0;

  border: 3px solid rgba(30, 30, 30, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(30, 30, 30, 1);
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(30, 30, 30, 1);
  color: rgba(255, 255, 255, 1);
}

.u-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .u-cookie-popup-text-two {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-cookie-button-container {
    padding: 60px 0 0;
    margin: auto;
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 40px;
  }
  .u-cookie-button {
    width: 227px;
    height: 62px;
    border-width: 3px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .u-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 902px;
    padding: 72px;
    display: none;
  }
}
